@using EPiServer.Reference.Commerce.Site.B2B.Enums
@model EPiServer.Reference.Commerce.Site.Features.Users.ViewModels.UsersPageViewModel

<div class="container-fluid">
    <div class="row myPage">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <main class="col-xs-12 col-sm-9">
            <div class="spacer-left-l">
                @{ Html.RenderAction("Index", "B2BNavigation");}
                <section class="spacer-bottom-l">
                    <div class="section-title spacer-bottom-l">
                        <h2 class="h3">Look up user or fill in their details</h2>
                    </div>
                    <form action="" method="get" role="search">
                        <div class="custom-search">
                            <input type="text" autocomplete="off" placeholder="search for users"/>
                            <span class="icon-search glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                    </form>
                    <button class="btn" type="button">
                        <span class="v-align-middle">Ashley Steward</span><span class="close-icon v-align-middle"></span>
                    </button>
                </section>
                <section class="spacer-bottom-l">
                    <div class="section-title spacer-bottom-l">
                        <h2 class="h3">User Details</h2>
                    </div>
                    @using (Html.BeginForm("Save", "UsersPage", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.FirstName)
                            <br />
                            @Html.TextBoxFor(x => x.Contact.FirstName)
                            @Html.ValidationMessageFor(x => x.Contact.FirstName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.LastName)
                            <br />
                            @Html.TextBoxFor(x => x.Contact.LastName)
                            @Html.ValidationMessageFor(x => x.Contact.LastName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Email)
                            <br />
                            @Html.TextBoxFor(x => x.Contact.Email)
                            @Html.ValidationMessageFor(x => x.Contact.Email)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contact.Organization)
                            <br />
                            <div class="custom-select">
                                <span class="custom-select-split"></span>
                                <span class="custom-select-arrow arrow-down"></span>
                                @Html.DropDownListFor(model => model.Contact.OrganizationId, new SelectList(Model.Organizations, "OrganizationId", "Name", Model.Contact.OrganizationId))
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <br/>
                            <div class="custom-select">
                                <span class="custom-select-split"></span>
                                <span class="custom-select-arrow arrow-down"></span>
                                @Html.DropDownListFor(m => m.Contact.UserRole, new SelectList(Enum.GetValues(typeof(B2BUserRoles))))
                            </div>
                        </div>
                        <div class="form-group">
                            <label>@Html.LabelFor(x => x.Contact.Location)</label>
                            <br />
                            <div class="custom-select">
                                <span class="custom-select-split"></span>
                                <span class="custom-select-arrow arrow-down"></span>
                                @Html.DropDownListFor(model => model.Contact.Location, new SelectList(Model.Organizations, "Address.Name", "Address.Name", Model.Contact.Location))
                            </div>
                        </div>
                        <div class="spacer-top-l">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <a href="@Url.Action("Index", "UsersPage")" class="btn btn-default">Cancel</a>
                        </div>
                    }
                  </section>
            </div>
        </main>
    </div>
</div>
