@using System.Web.Mvc.Html
@using EPiServer.Commerce.Order
@using EPiServer.Reference.Commerce.Site.B2B.Enums
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.OrderDetails.ViewModels.OrderDetailsViewModel
@if (Model.PurchaseOrder != null)
{
    var orderForm = Model.PurchaseOrder.GetFirstForm();

    <div class="row section-box">
        <div class="col-xs-12 col-sm-6">
            <h3 class="h4">@Html.Translate("/OrderHistory/Labels/OrderID") @Model.PurchaseOrder.OrderNumber</h3>
            <p>
                @Html.Translate("/OrderHistory/Labels/OrderDate") @Model.PurchaseOrder.Created.ToLongDateString()
                <br/>
                @Html.Translate("/OrderHistory/Labels/Status") <strong>@(Model.OrderStatus)</strong>
                <br/>
                @Html.Translate("/OrderHistory/Labels/Payment")
                @if (orderForm.Payments.Any())
                {
                    string.Join(", ", orderForm.Payments.Select(x => x.PaymentMethodName));
                }
                <br/>
                @Html.Translate("/OrderHistory/Labels/TotalPrice") <strong>@Model.PurchaseOrder.GetTotal().ToString()</strong>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>@Html.Translate("/OrderHistory/Labels/ShippedTo")</h4>
            @foreach (var shippingAddress in Model.ShippingAddresses)
            {
                @(Html.Partial("_Address", shippingAddress))
            }
        </div>
        
        <div class="col-xs-12 spacer-top-l">
            @*<h3 class="h4">@Html.Translate("/OrderHistory/Labels/ObjectsOrdered")</h3>*@
            <table class="table table-stripped no-border">
                <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Title
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><a href="@item.LineItem.GetUrl()" class="link--black"><img src="@item.LineItem.GetThumbnailUrl()"/></a></td>
                        <td><a href="@item.LineItem.GetUrl()" class="link--black">@item.LineItem.GetEntryContent().DisplayName</a></td>
                    </tr>
                }
                </tbody>
            </table>
            @if (Model.IsOrganizationOrder && Model.CurrentCustomer.Role == B2BUserRoles.Approver)
            {
                 if (Model.QuoteStatus != null && Model.QuoteStatus.Equals("RequestQuotationFinished"))
                 {
                     using (Html.BeginForm("LoadOrder", "Checkout", FormMethod.Post))
                     {
                         <button type="button" class="btn btn-danger btn-empty jsCartLoadOrder" aria-expanded="false" data-order-link="@Model.OrderGroupId">@Html.Translate("/Header/MiniCart/Button/GoToCheckout")</button>
                     }
                 }

                 if (!Model.IsPaymentApproved)
                 {
                     <a href="@Url.Action("ApproveOrder", "OrderDetails", new { orderGroupId = Model.OrderGroupId})" class="btn btn-danger btn-empty" aria-expanded="false">Approve</a>
                 }
            }
        </div>
    </div>
}
