@model EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels.OrgNavigationViewModel
@{
    Layout = null;
}
@if (Model.Organization != null)
{
    <h2 class="h3">Organization</h2>
    <ul class="nav nav-stacked" role="tablist">
        <li role="presentation">
            @if (Model.Organization.ParentOrganizationId != Guid.Empty)
            {
                <a href="@(Url.ContentUrl(Model.OrganizationPage))" class="" aria-expanded="">@Model.Organization.ParentOrganization.Name</a>
                <ul class="nav nav-stacked" role="tablist">
                    <li><a href="#" class="" aria-expanded="">@Model.Organization.Name</a></li>
                </ul>
            }
            else
            {
                <a href="@(Url.ContentUrl(Model.OrganizationPage))" class="" aria-expanded="">@Model.Organization.Name</a>
                <ul class="nav nav-stacked" role="tablist">
                    @foreach (var subOrganization in Model.Organization.SubOrganizations)
                    {
                        <li><a href="#" class="" aria-expanded="">@subOrganization.Name</a></li>
                    }
                </ul>
            }
        </li>
    </ul>
}
