@model EPiServer.Reference.Commerce.Site.Features.Budgeting.ViewModels.BudgetingPageViewModel

<div class="container">
    <div class="row myPage">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
        <main class="col-xs-12 col-sm-9">
            <div class="spacer-left-l">
                @{Html.RenderAction("Index", "B2BNavigation");}
                <section class="spacer-bottom-l">
                    @if (@Model.CurrentBudgetViewModel != null)
                    {
                        <div class="section-title spacer-bottom-m">
                            @if (Model.IsSubOrganization)
                            {
                                <h2 class="h3">Current Suborganization budget</h2>
                            }
                            else
                            {
                                <h2 class="h3">Current organization budget</h2>
                            }
                            @if (Model.IsAdmin)
                            {
                                <a href="@Url.Action("EditBudget", "BudgetingPage", new {budgetId = @Model.CurrentBudgetViewModel.BudgetId})" class="btn btn-primary btn-sm spacer-left-s">Edit</a>
                            }
                        </div>

                        <div class="max-width">
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Budget
                                </div>
                                <div class="col-xs-6">
                                    <strong>@Model.CurrentBudgetViewModel.Amount.ToString("N") @Model.CurrentBudgetViewModel.Currency</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Unallocated
                                </div>
                                <div class="col-xs-6">
                                    <strong>@Model.CurrentBudgetViewModel.UnAllocatedAmount.ToString("N") @Model.CurrentBudgetViewModel.Currency</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Spent
                                </div>
                                <div class="col-xs-6">
                                    <strong>@Model.CurrentBudgetViewModel.SpentBudget.ToString("N") @Model.CurrentBudgetViewModel.Currency</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Remaining
                                </div>
                                <div class="col-xs-6">
                                    <strong class="text-success">@Model.CurrentBudgetViewModel.RemainingBudget.ToString("N") @Model.CurrentBudgetViewModel.Currency</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Start date
                                </div>
                                <div class="col-xs-6">
                                    <strong>@Model.CurrentBudgetViewModel.StartDate.ToString("MMMM dd, yyyy")</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    End date
                                </div>
                                <div class="col-xs-6">
                                    <strong>@Model.CurrentBudgetViewModel.DueDate.ToString("MMMM dd, yyyy")</strong>
                                </div>
                            </div>
                            <div class="row spacer-bottom-m">
                                <div class="col-xs-6 col-sm-4">
                                    Status
                                </div>
                                <div class="col-xs-6">
                                    <strong>@(Model.CurrentBudgetViewModel.Status == "Planned" ? "Active" : Model.CurrentBudgetViewModel.Status)</strong>
                                </div>
                            </div>
                        </div>
                    }
                </section>
                @if (Model.IsAdmin)
                {
                    <section class="spacer-bottom-l">
                        @if (Model.IsSubOrganization)
                        {
                            <div class="section-title spacer-bottom-m">
                                <h2 class="h3">Purchasers spending limits</h2>
                                <a href="@Url.Action("AddBudgetToUser", "BudgetingPage")" class="btn btn-primary btn-sm spacer-left-s">Add User</a>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Budget</th>
                                        <th>Spent</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@Model.PurchasersSpendingLimits != null)
                                    {
                                        foreach (var purchaser in Model.PurchasersSpendingLimits)
                                        {
                                            <tr>
                                                <td><a href="#">@purchaser.PurchaserName</a></td>
                                                <td>@purchaser.Amount.ToString("N") @purchaser.Currency</td>
                                                <td>@purchaser.SpentBudget.ToString("N") @purchaser.Currency</td>
                                                <td>@purchaser.StartDate.ToString("MMMM dd, yyyy")</td>
                                                <td>@purchaser.DueDate.ToString("MMMM dd, yyyy")</td>
                                                <td>@(purchaser.Status == "Planned" ? "Current" : purchaser.Status)</td>
                                                <td class="text-center" data-budget-id="@purchaser.BudgetId">
                                                    <a href="@Url.Action("EditUserBudget", "BudgetingPage", new {budgetId = @purchaser.BudgetId})" class="btn btn-primary btn-xs spacer-left-s">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="section-title spacer-bottom-m">
                                <h2 class="h3">Current suborganization budgets</h2>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Budget</th>
                                        <th>Unallocated</th>
                                        <th>Spent</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@Model.SubOrganizationsBudgets != null)
                                    {
                                        foreach (var suborganizationBudget in Model.SubOrganizationsBudgets)
                                        {
                                            <tr>
                                                <td><a href="#">@suborganizationBudget.OrganizationName</a></td>
                                                <td>@suborganizationBudget.Amount.ToString("N") @suborganizationBudget.Currency</td>
                                                <td>@suborganizationBudget.UnAllocatedAmount.ToString("N") @suborganizationBudget.Currency</td>
                                                <td>@suborganizationBudget.SpentBudget.ToString("N") @suborganizationBudget.Currency</td>
                                                <td>@suborganizationBudget.StartDate.ToString("MMMM dd, yyyy")</td>
                                                <td>@suborganizationBudget.DueDate.ToString("MMMM dd, yyyy")</td>
                                                <td>@(suborganizationBudget.Status == "Planned" ? "Current" : @suborganizationBudget.Status)</td>
                                                <td class="text-center" data-budget-id="@suborganizationBudget.BudgetId">
                                                    <a href="@Url.Action("EditBudget", "BudgetingPage", new {budgetId = @suborganizationBudget.BudgetId})" class="btn btn-primary btn-xs spacer-left-s">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                    </section>
                    <section class="spacer-bottom-l">
                        <div class="section-title spacer-bottom-m">
                            @if (Model.IsSubOrganization)
                            {
                                <h2 class="h3">Suborganization budget timeline</h2>
                            }
                            else
                            {
                                <h2 class="h3">Organization budget timeline</h2>
                            }
                            <a href="@Url.Action("AddBudget", "BudgetingPage")" class="btn btn-primary btn-sm spacer-left-s">New budget</a>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Budget</th>
                                    <th>Unallocated</th>
                                    <th>Spent</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var organizationBudget in Model.OrganizationBudgets)
                                {
                                    <tr>
                                        <td><a href="#">@organizationBudget.OrganizationName</a></td>
                                        <td>@organizationBudget.Amount.ToString("N") @organizationBudget.Currency</td>
                                        <td>@organizationBudget.UnAllocatedAmount.ToString("N") @organizationBudget.Currency</td>
                                        <td>@organizationBudget.SpentBudget.ToString("N") @organizationBudget.Currency</td>
                                        <td>@organizationBudget.StartDate.ToString("MMMM dd, yyyy")</td>
                                        <td>@organizationBudget.DueDate.ToString("MMMM dd, yyyy")</td>
                                        <td>@(organizationBudget.IsCurrentBudget ? "Current" : @organizationBudget.Status)</td>
                                        <td class="text-center" data-budget-id="@organizationBudget.BudgetId">
                                            <a href="@Url.Action("EditBudget", "BudgetingPage", new {budgetId = @organizationBudget.BudgetId})" class="btn btn-primary btn-xs spacer-left-s updateBudget">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                }
            </div>
        </main>
    </div>
</div>
